html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	#background: url(cuadros.jpg) fixed;
    #background-size: 25%;
}

div#general {
margin:auto;
position: absolute;
background-color:white;
}

div#header {
	padding: -2px;
	position: fixed;
	width: 100%;
	height: 190px;
	background-color: white;

	-webkit-box-shadow: 0px 13px 32px 8px rgba(255,255,255,1);
    -moz-box-shadow: 0px 13px 32px 8px rgba(255,255,255,1);
    box-shadow: 0px 13px 32px 8px rgba(255,255,255,1);
	#border-bottom: 4px solid #111;
}

.soporte{
	width: all;
	height: 200px;
	background-color: white;
}

.hidden{
	display: none;
}

div#loading{
	position: fixed;
	margin-left: 335px;
	#margin-top: 3.5px;
	width: 1010px;
	height: 480px;
	background: url(loading.gif) no-repeat center white;
	background-size: 10%;
	opacity: 0.8;
}

div#mask{
	position: fixed;
	width: 6%;
	height: 205px;
	background-color: white;
}

div#login{
	position: fixed;
	margin-left: 70%;
	#border-left: 3px solid rgb(100,100,100);
	#float: right;
	width: 420px;
	height: 190px;
	background-color: white;
}

div#filtros{
	position: fixed;
	width: 250px;
	height: 415px;
	margin-left: 75px;
	margin-top: -60px;
	background-color: white;
    word-wrap: break-word;

    border: 2px solid #111;
	-webkit-box-shadow: -23px 24px 15px -4px rgba(0,0,0,0.69);
    -moz-box-shadow: -23px 24px 15px -4px rgba(0,0,0,0.69);
    box-shadow: -23px 24px 15px -4px rgba(0,0,0,0.69);

    border-radius: 15px;
}



h5#titulo_filtro{
	margin: auto;
	margin-left: 37%;
	margin-bottom: 0px;
	color: #EEE;
	font-size: 1.2em;
	font-weight: bold;
	#line-height: .9em;
	letter-spacing: 2px;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
}

div#contenedor_select_marca{
	border-top: 3px solid #EEE;
	width: 100%;
	background-color: white;
	#position: absolute;
	display: block;
}

div#contenedor_select_modelo{
	border-top: 3px solid #EEE;
	width: 100%;
	margin-top: 10px;
	background-color: white;
	#position: absolute;
	display: block;
}

div#contenedor_select_anho{
	border-top: 3px solid #EEE;
	width: 100%;
	margin-top: 10px;
	background-color: white;
	#position: absolute;
	display: block;
}

.etiqueta_filtro{
	letter-spacing: 1px;
	margin-left: 5px;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(0,93,255);
	float: left;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
}

.styled-select {
   width: 90%;
   height: 34px;
   margin-left: 12px;
   margin-top: 10px;
   overflow: hidden;
   background: url(down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.styled-select select {
   cursor: pointer;
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

div#contenedor_silder_precio{
	margin-top: 10px;
	width: 100%;
	background-color: white;
	height: 85px;
	position: absolute;
	border-top: 3px solid #EEE;
}

.etiquetas_filtro_precio_izq{
	margin-left: 5px;
	font-size: 1em;
	margin-top: 5px;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
	color: rgb(71,255,8);
	float: left;
}

.etiquetas_filtro_precio_der{
	margin-right: 3px;
	font-size: 1em;
	margin-top: 5px;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
	color: red;
	float: right;
}

.var_precio_min{
	font-size: 0.8em;
	margin-left: 5px;
	position: absolute;
	float: left;
	color:212121;
}



.var_precio_max{
	font-size: 1em;
	margin-right: 5px;
	margin-top: 28px;
	position:absolute; right: 0;
	max-width: 70px;
	color:212121;
}

.slider{
	background: url(grid.png);
	background-size: 12px;
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	height: 25px;
}

.slider > .progress{
	background-color: blue;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	height: 40%;
	top:26%;
	position: absolute;
	width: 50%;
}

.slider > .emptyprogress{
	background-color: lightblue;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	height: 40%;
	top:26%;
	position: absolute;
	width: 100%;
}

.slider > .indicator{
	background: url(pointer.png);
	background-size: 24px 22px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 100%;
	left: 50%;
	margin-left: -5%;
	margin-top: 1.4px;
	position: absolute;
	width: 10%;
}

div.contenido{
	background-color: white;
	margin: auto;
	margin-left: 400px;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 900px;
	height: 200px;
	border: 2px solid;
	border-color:  rgb(100,100,100);
	border-radius: 10px;
	#word-break: break-all;
    #word-wrap: break-word;
}

div#contenido_imagen{
	background: url(producto.png) no-repeat center;
	background-size: 80%;
	width: 25%;
	height: 90%;
	#border-right: 2px solid #EEE;
	padding:10px ;
	margin-left: -15px;
	cursor: pointer;
}

div#contenido_info{
	padding-left: 10px;
	margin-left: 220px;
	margin-top: -190px;
	#float: right;
	width: 27%;
	height: 90%;
}

div#contenido_existencia_ubicacion{
	padding-left: 10px;
	margin-left: 52%;
	margin-top: -20%;
	#float: right;
	width: 15.5%;
	height: 90%;
}

img.formato{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 125px;


}

.textbox { 
	display: inline-block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 350px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}

div#cuadro_texto_y_boton{
	height: 40px;
}

a#myButton {
	-moz-box-shadow:inset 0px 0px 11px -4px #f5978e;
	-webkit-box-shadow:inset 0px 0px 11px -4px #f5978e;
	box-shadow:inset 0px 0px 11px -4px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:2px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 8px #810e05;
}
a#myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
a#myButton:active {
	position:relative;
	top:1px;
}

.texto{
	font-size: 1.05em;
	font-weight: bold;
	line-height: .9em;
	margin: .1em;
	color: red;
	letter-spacing: 1px;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
}

.texto_verde{
	font-size: 1.5em;
	font-weight: bold;
	line-height: .9em;
	margin: .1em;
	color: rgb(71,255,8);
	letter-spacing: 1px;
	text-shadow:   
	-1px -1px 0 #000,
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000;
}